<script type="text/template" id="model_new">

	<%= render 'shared/navigation' %>

<form class="model-form">

	<div class='form-horizontal'>

		<div class="form-group">
			<label class="control-label col-md-2">Name<sup>*</sup></label>
			<div class="col-md-6">
				<input type="text" name="name" id="model_name" class="form-control" value="<@= model ? model.get('name') : '' @>" />
			</div>
			<div id="model_name_error" class="error"></div>
		</div>

		<@ if (model) { @>
			<input type="hidden" id="model_id" value="<@= model.get('_id')['$oid'] @>" />
		<@ }; @>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-4">
				<button type="submit" class="btn btn-primary"><@= model ? 'Update' : 'Create' @></button>
			</div>
		</div>

	</div>
</form>

</script>