<script type="text/template" id="admin_new">

	<%= render 'shared/navigation' %>

<form class="admin-form">

	<div class='form-horizontal'>

		<div class="form-group row">
			<label class="control-label col-md-2">Ad id<sup>*</sup></label>
			<div class="col-md-6">
				<input type="text" name="adId" id="admin_ad_id" class="form-control" value="<@= admin ? admin.get('ad_id') : '' @>" />
			</div>
			<div id="admin_ad_id_error" class="error"></div>
		</div>

		<div class="form-group row">
			<label class="control-label col-md-2">Name<sup>*</sup></label>
			<div class="col-md-6">
				<input type="text" name="name" id="admin_name" class="form-control  col-md-8" value="<@= admin ? admin.get('name') : '' @>" />
			</div>
			<div id="admin_name_error" class="error"></div>
		</div>

		<@ if (admin) { @>
			<input type="hidden" id="admin_id" value="<@= admin.get('_id')['$oid'] @>" />
		<@ }; @>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-4">
				<button type="submit" class="btn btn-primary"><@= admin ? 'Update' : 'Create' @></button>
			</div>
		</div>

	</div>

</form>


</script>