script#asset_type_list type="text/template" 
  = render 'asset_types/navigation'
  table.table.table-striped.table-bordered
    thead
      tr
        th Name
        th Properties
    tbody
      <@ _.each(asset_types, function(asset_type) { @>
      tr
        td <@= asset_type.get('name') @>
        td <@= asset_type.get('properties') @>
      <@ }); @>
