<script type="text/template" id="asset_type_new">

	<%= render 'asset_types/navigation' %>

	<form class="asset-type-form">

	<lable>Name</label>
	<input type="text" name="name" id="asset_type_name" />
	<lable>Properties</label>
	<input type="text" name="properties", id="asset_type_properties" />
	<button type="submit", class="btn btn-primary">Submit</button>
	</form>


</script>