<div class="navigations">
	<a href="#<@= type @>" class="<@= list @>">
		<span class="glyphicon glyphicon-list"></span>list</a>
	<a href="#<@= type @>/new" class="<@= add_new @>">
		<span class="glyphicon glyphicon-plus"></span>new</a>
</div>