<div class="navigations">
	<a href="#<@= type @>" class="<@= list @>">
		<span class="glyphicon glyphicon-list"></span>List</a>
	<a href="#<@= type @>/new" class="<@= add_new @>">
		<span class="glyphicon glyphicon-plus"></span>New</a>
</div>