<script type="text/template" id="company_new">

	<%= render 'shared/navigation' %>

<form class="company-form">

	<div class='form-horizontal'>

		<div class="form-group">
			<label class="control-label col-md-2">Name<sup>*</sup></label>
			<div class="col-md-6">
				<input type="text" name="name" id="company_name" class="form-control" value="<@= company ? company.get('name') : '' @>" />
			</div>
			<div id="company_name_error" class="error"></div>
		</div>

		<@ if (company) { @>
			<input type="hidden" id="company_id" value="<@= company.get('_id')['$oid'] @>" />
		<@ }; @>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-4">
				<button type="submit" class="btn btn-primary"><@= company ? 'Update' : 'Create' @></button>
			</div>
		</div>

	</div>
</form>

</script>